<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

        .errors {
            color: red;
        }
    </style>

    <script>
        function saveBook() {
            const idInput = document.getElementById("id-input")
            const titleInput = document.getElementById("book-title-input")
            const authorSelect = document.getElementById("book-author-select")
            const genreSelect = document.getElementById("book-genre-select")
            const book = {
                id: idInput.value,
                title: titleInput.value,
                author: {
                    id: authorSelect.value,
                    fullName: authorSelect.text
                },
                genre: {
                    id: genreSelect.value,
                    name: genreSelect.text
                }
            }
            fetch("/api/v1/book", {
                method: 'POST',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(book)})
        }
    </script>
</head>
<body>

<form id="add-book-form" th:object="${book}">
    <h3>New Book:</h3>

    <div class="row">
        <input id="id-input" name="id" type="text" readonly="readonly" value="0" th:field="*{id}"/>
    </div>

    <div class="row">
        <input id="book-title-input" name="title" type="text" value="Default Title" th:field="*{title}"/>
        <div class="errors" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Wrong book title error</div>
    </div>

    <div class="row">
        <select class="form-control" id="book-author-select" th:field="*{author}">
            <option value="0">Select author</option>
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName}"></option>
        </select>
        <div class="errors" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Wrong book author error</div>
    </div>

    <div class="row">
        <select class="form-control" id="book-genre-select" th:field="*{genre}">
            <option value="0">Select genre</option>
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
        </select>
        <div class="errors" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">Wrong book genre error</div>
    </div>

    <div class="row">
        <button type="button" onclick="saveBook(); window.location.href='/'">Save</button>
        <a href="books.html" th:href="@{/}"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>